/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* color tokens */
  --pfizer-light: #ECF5FE;
  --pfizer-sky: #3D96F7;
  --pfizer-blue: #0000C9;
  --gray-00: #F6F7F7;
  --gray-05: #E7E8E9;
  --gray-10: #D7DADA;
  --gray-15: #C8CBCC;
  --gray-20: #B9BCBE;
  --gray-30: #9A9FA1;
  --gray-40: #7C8185;
  --gray-50: #5D6468;
  --gray-60: #4A5053;
  --gray-70: #383C3E;
  --gray-80: #25282A;
  --gray-85: #1C1E1F;
  --gray-90: #131415;
  --gray-95: #090A0A;
  --error-color: #E90649;
  --primary-color: var(--pfizer-blue);
  --secondary-color: var(--pfizer-sky);
  --tertiary-color: var(--pfizer-light);

  /* color variables */
  --background-color: white;
  --heading-color: black;
  --text-color: black;
  --link-color: var(--primary-color);
  --highlight-background-color: var(--tertiary-color);
  --overlay-background-color: var(--primary-color);
  --overlay-text-color: var(--tertiary-color);
  --overlay-accent-color: var(--gray-05);
  --emphasis-background-color: var(--gray-00);

  /* spacing */
  --spacing-90: 112px;
  --spacing-80: 96px; /* desktop vertical */
  --spacing-70: 80px;
  --spacing-60: 64px; /* tablet vertical */
  --spacing-55: 56px; /* mobile vertical */
  --spacing-50: 32px;
  --spacing-40: 24px;
  --spacing-30: 16px;
  --spacing-20: 8px;
  --spacing-10: 4px;
  --spacing-vertical: var(--spacing-55);
  --spacing-horizontal: var(--spacing-40);

  /* line widths */
  --line-40: 4px;
  --line-20: 2px;
  --line-10: 1px;

  /* fonts */
  --body-font-family: 'Lato', 'Lato fallback', sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: monospace;

  /* body sizes */
  --body-font-size-xl: 1.25rem;
  --body-font-size-l: var(--body-font-size-xl);
  --body-font-size-m: 1rem;
  --body-font-size-s: .875rem;
  --body-font-size-xs: .75rem;

  /* heading sizes */
  --heading-font-size-xxl: 2.25rem;
  --heading-font-size-xl: var(--heading-font-size-xxl);
  --heading-font-size-l: 1.875rem;
  --heading-font-size-m: var(--heading-font-size-l);
  --heading-font-size-s: var(--heading-font-size-m);
  --heading-font-size-xs: 1.25rem;

  /* nav */
  --nav-height: 128px;

  /* content width */
  --content-width: 1024px;
  --site-width: 100vw;
}

@media (min-width: 600px) {
  :root {
    /* body sizes */
    --body-font-size-xl: 1.875rem;
    --body-font-size-l: 1.25rem;

    /* heading sizes */
    --heading-font-size-xxl: 3rem;
    --heading-font-size-xl: 2.25rem;
    --heading-font-size-l: var(--heading-font-size-xl);
    --heading-font-size-m: 1.875rem;
    --heading-font-size-xs: 1.5rem;

    /* spacing */
    --spacing-vertical: var(--spacing-60);

    /* nav */
    --nav-height: 124px
  }
}

@media (min-width: 900px) {
  :root {
    /* nav */
    --nav-height: 100vh;
    --nav-width: 285px;
  }
}

@media (min-width: 1200px) {
  :root {
    /* spacing */
    --spacing-vertical: var(--spacing-80);

    /* body sizes */
    --body-font-size-l: 1.5rem;
    --body-font-size-m: 1.25rem;
    --body-font-size-s: 1rem;
    --body-font-size-xs: .875rem;

    /* heading sizes */
    --heading-font-size-xxl: 4rem;
    --heading-font-size-xl: 3.5rem;
    --heading-font-size-l: 3rem;
    --heading-font-size-m: 2.25rem;
    --heading-font-size-xs: 1.875rem;

    /* content width */
    --site-width: calc(var(--nav-width) + var(--content-width) + (2 * var(--spacing-horizontal)));
  }
}

/* fallback fonts */
@font-face {
  font-family: 'Lato fallback';
  size-adjust: 96.919%;
  src: local('Arial');
}

body {
  display: none;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  font-weight: 400;
  line-height: 130%;
}

body.appear {
  display: unset;
}

@media (min-width: 900px) {
  body.appear {
    display: grid;
    grid-template:
      'header announce' auto
      'header main' 1fr
      'header footer' auto / var(--nav-width) 1fr;
    min-height: 100vh;
    max-width: var(--site-width);
    margin: 0 auto;
  }
}

header {
  grid-area: header;
  height: var(--nav-height);
}

footer {
  grid-area: footer;
}

h1, h2, h3, h4, h5, h6 {
  max-width: calc(var(--content-width) * .8);
  margin: 1.1rem 0;
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: 800;
  letter-spacing: -.02em;
  line-height: 110%;
  scroll-margin: calc(var(--nav-height) + 1.1rem);
}

h1 {
  margin: 1.05rem 0;
  font-size: var(--heading-font-size-xxl);
  line-height: 105%;
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-weight: 700;
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
  letter-spacing: -.01em;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  color: var(--secondary-color);
}

sub, sup {
  line-height: 1;
}

p, dl, ol, ul, pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .6ch;
}

pre {
  padding: var(--spacing-40) var(--spacing-horizontal);
  background-color: var(--overlay-background-color);
  color: var(--overlay-text-color);
  overflow: scroll;
  overflow-x: auto;
  white-space: pre;
}

hr {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  border: 0;
  border-bottom: var(--line-20) solid var(--primary-color);
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

span.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: sub;
}

span.icon svg {
  width: 1.135em;
  height: 1.135em;
  margin: 0 .6ch;
  fill: currentcolor;
}

span.icon[data-position='first'] svg {
  margin-left: 0;
}

span.icon[data-position='last'] svg {
  margin-right: 0;
}

span.icon[data-position='only'] svg {
  margin: 0;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* buttons */
.button-container {
  max-width: 100%;
  margin: 1.3rem 0;
}

.button-container.button-container-multi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.3rem;
}

/* stylelint-disable no-descending-specificity */
a.button:any-link, button.button, form button {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  max-width: 100%;
  border: var(--line-20) solid var(--link-color);
  border-radius: 1.75em;
  padding: var(--spacing-10) var(--spacing-30);
  background-color: transparent;
  color: var(--link-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

@media (min-width: 600px) {
  a.button:any-link, button.button, form button {
    padding: var(--spacing-20) var(--spacing-40);
    font-size: var(--body-font-size-m);
  }
}

@media (min-width: 1200px) {
  a.button:any-link, button.button, form button {
    padding: var(--spacing-30) var(--spacing-40);
  }
}

a.button.primary, button.button.primary, form button.primary {
  background-color: var(--link-color);
  color: var(--background-color);
}

a.button.secondary, button.button.secondary, form button.secondary {
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid var(--link-color);
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

/* form elements */
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: unset;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
/* stylelint-enable no-descending-specificity */
main {
  grid-area: main;
}

aside.announcement {
  grid-area: announce;
  padding: var(--spacing-20) var(--spacing-horizontal);
  background-color: var(--highlight-background-color);
  color: var(--link-color);
  font-size: var(--body-font-size-xs);
  text-align: center;
}

aside.announcement.split {
  padding: var(--spacing-40) var(--spacing-horizontal);
  text-align: left;
}

aside.announcement a:not([class]) {
  text-decoration: underline;
}

aside.announcement p {
  margin: 0;
}

aside.announcement .button-container {
  flex: 1 1 max-content;
  width: 100%;
}

aside.announcement .button {
  width: 100%;
  padding: var(--spacing-10) var(--spacing-30);
  font-size: inherit;
}

aside.announcement > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-horizontal);
}

@media (min-width: 600px) {
  aside.announcement > div > div {
    flex-direction: row;
  }

  aside.announcement .button-container {
    flex: 1 1 320px;
  }
}

/* sections */
main .section {
  padding: var(--spacing-vertical) var(--spacing-horizontal);
}

main .section > [class$=wrapper] + [class$=wrapper] {
  margin-top: var(--spacing-vertical);
}

@media (min-width: 900px) {
  main .section > div {
    max-width: var(--content-width);
    margin: auto;
  }
}

/* section styles */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .section.emphasis {
  background-color: var(--emphasis-background-color);
}

main .section.overlay {
  background-color: var(--overlay-background-color);
}

main .section.overlay *,
main .section.overlay h1 {
  color: var(--overlay-text-color);
}

main .section.overlay .button {
  border-color: var(--overlay-text-color);
  fill: var(--overlay-text-color);
}

main .section.overlay .button.primary {
  background-color: var(--overlay-text-color);
  color: var(--overlay-background-color);
}

main .section.inset {
  background-color: var(--background-color);
}

main .section.inset > div {
  background-color: var(--highlight-background-color);
  padding: var(--spacing-40) var(--spacing-horizontal);
  border-radius: 16px;
}

main .section.inset.emphasis > div {
  background-color: var(--emphasis-background-color);
}

/* progressive section appearance */
main [data-section-status='loading'],
main [data-section-status='initialized'] {
  display: none;
}
