name: Create Release Branch

on:
  release:
    types:
      - created

jobs:
  create_release_branch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Print Release Tag
        run: |
          echo "Release Tag: ${{ github.event.release.tag_name }}"

      - name: Create Release Branch
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git checkout -b release/${{ github.event.release.tag_name }}
          git push --set-upstream origin release/${{ github.event.release.tag_name }}